# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
import re

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
x = [3,4,6,78,5,7,2,5,6]
def count_numbers():
    return sum(x)
count_numbers()

116

Create a function that returns the mean of a list of numbers

In [3]:
# Your code here:
x = [3,4,6,78,5,7,2,5,6]
def mean_numbers():
    return (sum(x)/len(x))
mean_numbers()

12.88888888888889

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [4]:
# Your code here:
x = [3,4,6,78,5,7,2,5,6]
y = []
def sd_numbers():
    m = mean_numbers()
    for n in x:
        y.append((n-m)**2)
    sd = (sum(y)/len(x))**0.5 
    return sd    
print(sd_numbers())
print(np.std(x))

23.06726610225188
23.06726610225188

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [5]:
# Your code here:
x = [3,4,6,78,5,7,2,5,6]
def c_m_sd():
    """This function returns the count, mean and standard deviation of a given list.
    It calls previously defined functions.
    Ex.
    x is a list of numbers previously defined
    
    """
    a = count_numbers()
    b = mean_numbers()
    c = np.std(x)
    print('The count of the numbers in the list is: ', a, ' mean: ', b, ' and standard deviation: ', np.std(x))
    
c_m_sd()

The count of the numbers in the list is:  116  mean:  12.88888888888889  and standard deviation:  23.06726610225188

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [6]:
# Your code here:
text = 'This%%%$# course%^$#@! is #$% exTremely Int$$$$erestinG and@@##^%&* nice.'
def string_cleaning(): 
    clean_text = re.sub('[^A-Za-z0-9 ]','',text)
    phrase = clean_text.lower().split()
    phrase.sort()
    final_string = ' '.join(phrase)
    return final_string
string_cleaning()

'and course extremely interesting is nice this'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [7]:
# Your code here:
#x = int(input('Digit an integer: '))
def classification():
    x = int(input('Digit an integer: '))
    if x < 100:
        return 0
    elif x >= 100 and x <1000:
        return 1
    elif x >= 1000 and x <10000:
        return 2
    elif x >= 10000 and x <100000:
        return 3
    elif x >= 100000 and x <1000000:
        return 4
    elif x >= 1000000 and x <10000000:
        return 5
    elif x >= 10000000 and x <100000000:
        return 6
    elif x >= 100000000 and x <1000000000:
        return 7
    elif x >= 1000000000 and x <10000000000:
        return 8
    elif x >= 10000000000 and x <100000000000:
        return 9
    else:
        return 10
classification()

Digit an integer: 877373897932

10

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [8]:
# Your code here:
def recursion():
    x = int(input('Digit users age: '))
    if x in range(0,151):
        print("The user's age is: ", x)
    else:
        recursion()
recursion()

Digit users age: 151
Digit users age: 0
The user's age is:  0

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [9]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def sort_alph():
    phrase = buzz.split()
    phrase.sort()
    final_string = ' '.join(phrase)
    return final_string
sort_alph()

'AI, Big Data Data, Learning, Machine Pipeline Warehouse,'

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [11]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def sort_alph():
    phrase = buzz.split()
    phrase.sort()
    final_string = ' '.join(phrase)
    print(final_string)
sort_alph()

AI, Big Data Data, Learning, Machine Pipeline Warehouse,

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [37]:
import pandas as pd

In [34]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [35]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [36]:
print(np.mean.__doc__)

NameError: name 'np' is not defined

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [17]:
print(np.std.__doc__)

    Compute the standard deviation along the specified axis.

    Returns the standard deviation, a measure of the spread of a distribution,
    of the array elements. The standard deviation is computed for the
    flattened array by default, otherwise over the specified axis.

    Parameters
    ----------
    a : array_like
        Calculate the standard deviation of these values.
    axis : None or int or tuple of ints, optional
        Axis or axes along which the standard deviation is computed. The
        default is to compute the standard deviation of the flattened array.

        .. versionadded:: 1.7.0

        If this is a tuple of ints, a standard deviation is performed over
        multiple axes, instead of a single axis or all the axes as before.
    dtype : dtype, optional
        Type to use in computing the standard deviation. For arrays of
        integer type the default is float64, for arrays of float types it is
        the same as the array type.
    out : ndarray, optional
        Alternative output array in which to place the result. It must have
        the same shape as the expected output but the type (of the calculated
        values) will be cast if necessary.
    ddof : int, optional
        Means Delta Degrees of Freedom.  The divisor used in calculations
        is ``N - ddof``, where ``N`` represents the number of elements.
        By default `ddof` is zero.
    keepdims : bool, optional
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

        If the default value is passed, then `keepdims` will not be
        passed through to the `std` method of sub-classes of
        `ndarray`, however any non-default value will be.  If the
        sub-class' method does not implement `keepdims` any
        exceptions will be raised.

    Returns
    -------
    standard_deviation : ndarray, see dtype parameter above.
        If `out` is None, return a new array containing the standard deviation,
        otherwise return a reference to the output array.

    See Also
    --------
    var, mean, nanmean, nanstd, nanvar
    numpy.doc.ufuncs : Section "Output arguments"

    Notes
    -----
    The standard deviation is the square root of the average of the squared
    deviations from the mean, i.e., ``std = sqrt(mean(abs(x - x.mean())**2))``.

    The average squared deviation is normally calculated as
    ``x.sum() / N``, where ``N = len(x)``.  If, however, `ddof` is specified,
    the divisor ``N - ddof`` is used instead. In standard statistical
    practice, ``ddof=1`` provides an unbiased estimator of the variance
    of the infinite population. ``ddof=0`` provides a maximum likelihood
    estimate of the variance for normally distributed variables. The
    standard deviation computed in this function is the square root of
    the estimated variance, so even with ``ddof=1``, it will not be an
    unbiased estimate of the standard deviation per se.

    Note that, for complex numbers, `std` takes the absolute
    value before squaring, so that the result is always real and nonnegative.

    For floating-point input, the *std* is computed using the same
    precision the input has. Depending on the input data, this can cause
    the results to be inaccurate, especially for float32 (see example below).
    Specifying a higher-accuracy accumulator using the `dtype` keyword can
    alleviate this issue.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> np.std(a)
    1.1180339887498949
    >>> np.std(a, axis=0)
    array([ 1.,  1.])
    >>> np.std(a, axis=1)
    array([ 0.5,  0.5])

    In single precision, std() can be inaccurate:

    >>> a = np.zeros((2, 512*512), dtype=np.float32)
    >>> a[0, :] = 1.0
    >>> a[1, :] = 0.1
    >>> np.std(a)
    0.45000005

    Computing the standard deviation in float64 is more accurate:

    >>> np.std(a, dtype=np.float64)
    0.44999999925494177

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [38]:
def cm_to_in():
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    x = float(input('Digit a numeric value in centimeters: '))
    inches = x * 0.393701
    return f'The numeric value in inches: {inches}' 
cm_to_in()

Digit a numeric value in centimeters: 25

'The numeric value in inches: 9.842525'

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [39]:
# Your code here:
import pandas as pd

iris_inch = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])
print(iris_inch)
iris_inch = iris_inch * 0.393701
print(iris_inch)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1
   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [43]:
global_error = 5

def global_constant(x):
    
    iris_constant = iris_numeric + x
    return iris_constant
global_constant(global_error)

   sepal_length  sepal_width  petal_length  petal_width
0          10.1          8.5           6.4          5.2
1           9.9          8.0           6.4          5.2
2           9.7          8.2           6.3          5.2
3           9.6          8.1           6.5          5.2
4          10.0          8.6           6.4          5.2
5          10.4          8.9           6.7          5.4
6           9.6          8.4           6.4          5.3
7          10.0          8.4           6.5          5.2
8           9.4          7.9           6.4          5.2
9           9.9          8.1           6.5          5.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [9]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here: